/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: aliceblue;
}

.cabecalho {
    background-color: #fff;
    text-align: center;
}

.cabecalho p:nth-of-type(1) {
    color: rgb(49, 145, 113);
    font-size: 32px;
    font-weight: bold;
}

.cabecalho p:nth-of-type(2) {
    color: rgb(108, 196, 167);
    font-size: 16px;
    font-style: italic;
}

.conteudo {
    background-color: rgb(49, 137, 99);
    color: antiquewhite;
}

.conteudo>p {
    color: #E4005A;
    font-size: 42px;
}

.conteudo>p:nth-of-type(4) {
    color: purple;
    vertical-align: sub;
}

@media (max-width: 480px) {
    .container {
        background-color: #ADD8E6;
    }
}